* {
    box-sizing: border-box;
}

body {
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.main-header {
    background-color: lightgrey;
}

.name {
    margin: 0 0 0 30px;
    font-size: 1em;
    font-weight: normal;
    padding: 10px ;
}

.main-header,
.main-nav,
.middle-banner,
.content,
.boxes,
.upper-section,
.lower-section {
    display: flex;
    flex-wrap: wrap;
}

.main-header {
    align-items: center;
    justify-content: space-between;
}

.main-nav {
    margin-right: 30px;
    padding: 0;
    justify-content: space-around;
}

.main-nav li {
    padding: 0 30px;
}

.middle-banner {
    height: 250px;
    background-color: rgba(174, 214, 241, .5);
}

.middle-banner h1,
.content h3 {
    margin: auto;
}

.content {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.content h3 {
    padding: 20px;
}

 .boxes {
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.upper-section,
.lower-section {
    flex-direction: row;
    justify-content: space-around;
}

.box {
    background-color: rgba(26, 82, 118, .5);
    text-align: center;
    padding-top: 10px;
    height: 200px;
    flex: 1;
    margin: 0 10px 20px 10px;
} 

.action-button {
    background-color: rgba(174, 214, 241, .7);
    padding: 10px 20px;
}

/* 漢堡選單 */
.burger-icon div {
    width: 30px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
}

/* Media Queries */

 /* 如果寬度大於1200px */
 @media (min-width: 1200px) {
    .boxes {
        width: 1200px;
    }

    .burger-icon {
        display: none;
    }
}

@media (min-width: 800px) and (max-width:1199px) {
    .burger-icon {
        display: none;
    }
}

@media (min-width: 500px) and (max-width: 799px) {

    nav {
        display: none;
    }

    .burger-icon {
        display: block;
        margin-right: 50px;
    }
}

@media (max-width: 499px) {
    .burger-icon {
        display: block;
        margin-right: 50px;
    }

    nav {
        display: none;
    }

    .upper-section,
    .lower-section {
        flex-direction: column;
    }

    .box {
        flex: none;
    }
}
