doctype html
html(lang="en")
    head
        title Input Form
    body
        h2 Please enter your name
        form(action="/trackName", method="GET")
            input(type='text' name='name')
            button(type='submit') click